<div class="app-view-header">用户管理
    <small>修改、新增、启用、停用用户</small>
</div>
<div class="container-fluid">
    <div class="panel panel-info">
        <div class="panel-heading"><br/>
            <button class="btn btn-info" ng-click="userListCtrl.addUser()">新增用户</button>
        </div>

        <div class="panel-body">
            <table ng-table="userListCtrl.tableParams" class="table  table-bordered table-striped">
                <tr ng-repeat="auser in $data">
                    <td title="'用户名'" sortable="'userName'">
                        {{auser.userName}}
                    </td>
                    <td title="'昵称'" sortable="'nickName'">
                        {{auser.nickName}}
                    </td>
                    <td title="'电话'" >
                        {{auser.tel}}
                    </td>
                    <td title="'通知'" ng-class="auser.recvWarn==1?'text-success':'text-danger'" >
                        {{auser.recvWarn == 1?'接收':'不接收'}}
                    </td>
                    <td title="'启用/停用状态'" sortable="'suspend'" ng-class="auser.enable==1?'text-success':'text-danger'">
                        {{auser.enable == 0?'已停用':'已启用'}}
                    </td>
                    <td title="'操作'">
                        <div ng-show="!rowform.$visible" class="buttons">
                            <button ng-click="userListCtrl.editUser(auser)" title="编辑用户" class="btn btn-sm btn-info">
                                编辑
                            </button>
                            <button ng-click="userListCtrl.resetPwd(auser)" title="重置密码" class="btn btn-sm btn-warning">
                                重置密码
                            </button>
                            <button ng-click="userListCtrl.suspendOrResume(auser)" ng-if="auser.enable==1" title="停用用户" ng-show="auser.role!=3" class="btn btn-sm btn-danger">
                                停用
                            </button>
                            <button ng-click="userListCtrl.suspendOrResume(auser)" ng-if="auser.enable==0" title="启用用户" ng-show="auser.role!=3" class="btn btn-sm btn-success">
                                启用
                            </button>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>